*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} 

ul{
    list-style: none;
}

/* o CSS estiliza as tags do HTML. Para isso usamos a sintaxe *{}, onde encontra-se o * podemos colocar o nome da tag que queremos estilizar, caso deixemos com o *, quer dizer que será aplicado a todas as tags*/
